*.DS_Store
*.tdms
*.pdf
*.html


*.aux
*.bak
*.bbl
*.blg
*.brf
*.dict
*.err
*.lof
*.log
*.out
*.pdfsync
*.toc
*.eps
*.fdb_latexmk
*.synctex.gz
*.lot
*.bcf
*.fls
*.xwm
*.ist
*.xml
*.xlsx

!3_Container_Burns/1_Info/Notes/Test_Notebook.pdf
